<!-- <div class="headerContainer">
    <div class="navigators">
        <a class="headerItems" href="#"  [routerLink]="['/Home']" > Home </a>
        <a class="headerItems" href="#" [routerLink]="['/register']">Register</a>
        <a class="headerItems" href="#">About</a>
        <a class="headerItems" href="#">Contact</a>
    </div>   
</div> -->


<div class="header">
    <div class="schoolname"><h1>SriNikesh</h1></div>
    <div class="flex">
        <div class="navs">HOME</div>
        <div class="navs">ABOUT</div>
        <div class="navs">REGISTER</div>
        <div class="navs">CONTACT</div>        
    </div>
    <div class="auth">
        <div class="authi" >LOGIN</div>
        <div class="authi"><button class="Joinbtn">JOIN US</button></div>
    </div>
</div>